body {
  text-align: center; }

table, th, td {
  margin: auto;
  border: 1px solid black; }

table {
  border-collapse: collapse; }

td {
  padding: 1.5em;
  text-align: center; }

tr td {
  background-color: #c57b55; }
  tr td.got {
    background-color: white; }
  tr td:nth-child(even) {
    background-color: #AC613B; }
    tr td:nth-child(even).got {
      background-color: wheat; }
tr:nth-child(even) td {
  background-color: #AC613B; }
  tr:nth-child(even) td.got {
    background-color: wheat; }
  tr:nth-child(even) td:nth-child(even) {
    background-color: #c57b55; }
    tr:nth-child(even) td:nth-child(even).got {
      background-color: white; }

/*# sourceMappingURL=style.css.map */
